# General Idea

Always pack the big packages first to make sure, that we dont make additional routes (backpack problem). Then first deliver the heavy packages because then we save distance with the biggest package. Fill up with smaller packages in the surrounded area.

	- Take the biggest packages, which is not assigned to a route yet
	- Find packages, which are not assigned yet, in same region as the selected biggest packages (if not enough packages in region make region bigger)
	- Create a route with beam search or other cunstructive methods (just add packages which still fit in the sleigh) (stop when no further packages fit in sleigh)
	- Make local improvements of route (eg. 2-opt or simulated annealing)
	- Loop until all packages are assigned to a route
	- Optimize globally (Tabu Search, Popmusic?)

# Get Data from csv

In [1]:
import pandas as pd
df = pd.read_csv("data/gifts.csv")
df

       GiftId   Latitude   Longitude     Weight
0           1  16.345769    6.303545   1.000000
1           2  12.494749   28.626396  15.524480
2           3  27.794615   60.032495   8.058499
3           4  44.426992  110.114216   1.000000
4           5 -69.854088   87.946878  25.088892
...       ...        ...         ...        ...
99995   99996 -86.087115  -19.991474  10.927676
99996   99997  40.259124 -110.689749   9.347134
99997   99998  42.393016    0.011825   1.000000
99998   99999 -75.919193  -10.193532   1.000000
99999  100000  11.106159   40.230236   1.000000

[100000 rows x 4 columns]

# Get Record with max Weight

In [5]:
def getMax(df):
    maxId = df["Weight"].idxmax()
    return df.loc[maxId]
getMax(df)

GiftId       77.000000
Latitude     24.201344
Longitude    76.124264
Weight       50.000000
Name: 76, dtype: float64

# Get Records with weight smaller than x

In [6]:
df.where(df["Weight"] < 40)
#df_test = df.where(df["Weight"] < 40)
#getMax(df_test)

         GiftId   Latitude   Longitude     Weight
0           1.0  16.345769    6.303545   1.000000
1           2.0  12.494749   28.626396  15.524480
2           3.0  27.794615   60.032495   8.058499
3           4.0  44.426992  110.114216   1.000000
4           5.0 -69.854088   87.946878  25.088892
...         ...        ...         ...        ...
99995   99996.0 -86.087115  -19.991474  10.927676
99996   99997.0  40.259124 -110.689749   9.347134
99997   99998.0  42.393016    0.011825   1.000000
99998   99999.0 -75.919193  -10.193532   1.000000
99999  100000.0  11.106159   40.230236   1.000000

[100000 rows x 4 columns]

# Get Gifts which are not assigned to a route yet

In [7]:
df_in_route = df.loc[df["GiftId"].isin([1,2,3,5])]
df_not_in_route = df.loc[~df["GiftId"].isin(df_in_route["GiftId"])]
print("df in route")
print(df_in_route)
print()
print("df not assigned yet")
print(df_not_in_route)

df in route
   GiftId   Latitude  Longitude     Weight
0       1  16.345769   6.303545   1.000000
1       2  12.494749  28.626396  15.524480
2       3  27.794615  60.032495   8.058499
4       5 -69.854088  87.946878  25.088892

df not assigned yet
       GiftId   Latitude   Longitude     Weight
3           4  44.426992  110.114216   1.000000
5           6  53.567970  -71.359308  38.000151
6           7  12.902584   79.966949  44.206616
7           8  -6.291099  -64.891751   1.000000
8           9  -2.685316  111.089758   1.000000
...       ...        ...         ...        ...
99995   99996 -86.087115  -19.991474  10.927676
99996   99997  40.259124 -110.689749   9.347134
99997   99998  42.393016    0.011825   1.000000
99998   99999 -75.919193  -10.193532   1.000000
99999  100000  11.106159   40.230236   1.000000

[99996 rows x 4 columns]

# Get sum of weight

In [8]:
df["Weight"].sum()

1409839.0980207277

In [32]:
df_to_append = pd.DataFrame()
serie_to_append = getMax(df)
serie_to_append_two = df.loc[80]
df_to_append = df_to_append.append(serie_to_append)
df_to_append.append(serie_to_append_two)

    GiftId   Latitude  Longitude     Weight
76    77.0  24.201344  76.124264  50.000000
80    81.0  -5.593076 -43.790609   9.393121

In [33]:
df_to_append_2 = pd.DataFrame()
serie_to_append = df.loc[82]
serie_to_append_two = df.loc[81]
df_to_append_2 = df_to_append_2.append(serie_to_append)
df_to_append_2.append(serie_to_append_two)

    GiftId   Latitude   Longitude  Weight
82    83.0  39.302155  105.919693     1.0
81    82.0  36.372848  118.536532     1.0

In [37]:
df_to_append_2.append(df_to_append)

    GiftId   Latitude   Longitude  Weight
82    83.0  39.302155  105.919693     1.0
76    77.0  24.201344   76.124264    50.0

In [41]:
df.loc[76]['Weight']

50.0

In [2]:
df_test = df
df_test = df_test.where(df['GiftId'] != 83)

In [10]:
df_test.sample(ignore_index=True)
df.loc[0]

GiftId        1.000000
Latitude     16.345769
Longitude     6.303545
Weight        1.000000
Name: 0, dtype: float64